html {
  background: url(../img/desk.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-shadow: 1px 1px black;
}

.emphasis {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #FF5C5C;
  text-shadow: 1px 1px black;
}

.contact-me {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FF5C5C;
  text-shadow: 1px 1px black;
  margin-bottom: 50px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 1px 1px black;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 1px 1px black;
}

#navbar {
  width: 100%;
  background-color: white;
  height: 80px;
  position: fixed;
  margin-top: 0px;
  opacity: .8;
}

#navbar-content {
  margin: 0 auto;
  width: 960px;
}

#name {
  margin-top: 20px;
  display: inline-block;
  font-size: 36px;
  font-family: 'Teko', sans-serif;
  border-bottom: 1px solid black;
}

#last-name {
  color: #FF5C5C;
}

#role {
  margin-left: 20px;
  font-size: 14px;
}

#nav-links {
  float: right;
  margin-top: 20px;
}

#nav-links ul {
  list-style: none;
  display: block;
  margin: 0 auto;
}

#nav-links li {
  margin-top: 9px;
  float: left;
  padding-left: 20px;
}

a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

a.active {
  color: #FF5C5C;
  border-bottom: 1px dotted #FF5C5C;
}

a:hover {
  color: #FF5C5C;
}

#main {
  width: 90%;
  height: 400px;
  margin: 0 auto;
  padding-top: 100px;
  color: white;
}

.about-me {
  margin-top: 10%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#project {
  margin-top: 5%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.bio {
  margin-top: 2%;
}

.project-info {
  text-shadow: 1px 1px 2px black;
}

.logo-space a {
  margin-top: 1%;
  color: white;
  opacity: .3;
}

.logo-space a:hover {
  color: #FF5C5C
}

.container {
  display: flex;
  justify-content: space-around;
}

#about, #projects, #contact {
  display: hidden;
}

.content {
  width: 40%;
  text-align: center;
}

#contact {
  margin-top: 10%;
}

#contact a {
  color: white;
  text-decoration: none;
}

#contact a:hover {
  color: black;
}

.fa-linkedin {
  margin-left: 40px;
}

.fa-instagram {
  margin-left: 40px;
}

.fa-google {
  margin-top: 10px;
}

.line-break {
  width: 300px;
  border-bottom: 1px solid white;
  margin-top: 10px;
  opacity: 0.3;
  margin: 0 auto;
}
